<div class="animate__animated animate__fadeIn animate__faster">
    <h2>By region <small>{{ activatedRegion | titlecase }}</small></h2>
    <hr>
    <h5>Select a region</h5>
    
    <div class="row">
        <div class="col">
            <!--[class.btn-primary]="region === activeRegion"-->
            <!-- [ngClass]="{
                'btn-primary': activeRegion === region,
                'btn-outline-primary': activeRegion !== region
            }" -->
            <button 
                *ngFor="let region of regions"
                [class]="getCSSClass(region.fullname)"
                (click)="activateRegion(region.fullname, region.name)" >
                {{ region.fullname | titlecase }}
            </button>
        </div>
    </div>
    
    <hr>
</div>

<app-generic-error 
    [isError]="isError"
    [termino]="termino">
</app-generic-error>

<div
    *ngIf="countries.length > 0"
    class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>