<div class="animate__animated animate__fadeIn animate__faster">
    <h2>By capital</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-country-input
                (onEnter)="search($event)"
                placeholder="Enter a capital" >
            </app-country-input>
        </div>
    </div>
    <hr>    
</div>

<app-generic-error 
    [isError]="isError"
    [termino]="termino">
</app-generic-error>

<div
    *ngIf="countries.length > 0"
    class="row">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>